---
name: CI

on:
  pull_request:
    branches:
      - master
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │ ┌───────────── hour (0 - 23)
    #        │ │ ┌───────────── day of the month (1 - 31)
    #        │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        │ │ │ │ │
    - cron: '0 0 * * FRI'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Requirements
        run: |
          apt-get install -y pandoc
          pip install -r requirements.txt

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - name: Build
        run: make build
        env:
          FOOTBALL_DATA_API: ${{ secrets.FOOTBALL_DATA_API }}

      - uses: actions/upload-artifact@v2
        with:
          name: footy-artefact
          path: Footy.pdf

